@import-normalize;

$blue: #0ddbfd;
$yellow: #fffd82;
$transition: all 0.24s; // Change transitionTime in Router.js to match

@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

.App {
    font-family: 'Raleway', sans-serif;
}
